---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero';
---

<Layout>
  <Nav />
  <main>
    <Hero client:load />
    <!-- Sections added in subsequent phases -->
  </main>
</Layout>
